<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Test Coverage</title>
  <link rel="stylesheet" href="../../asset/css/slick.grid.css" type="text/css"/>
  <link rel="stylesheet" href="../../asset/themes/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
  <link rel="stylesheet" href="../../asset/css/examples.css" type="text/css"/>
  
  <style>
    .cell-title {
      font-weight: bold;
    }

    .toggle {
      height: 9px;
      width: 9px;
      display: inline-block;
    }

    .toggle.expand {
      background: url(../../asset/css/images/expand.gif) no-repeat center center;
    }

    .toggle.collapse {
      background: url(../../asset/css/images/collapse.gif) no-repeat center center;
    }

  </style>
</head>
<body>

<div>
  <label>Search:</label>
  <input type=text id="txtSearch">
</div>
<br/>
<div id="myGrid" style="width:900px;height:500px;"></div>

<script src="../../asset/js/jquery/jquery-1.7.min.js"></script>
<script src="../../asset/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
<script src="../../asset/js/jquery/jquery.event.drag-2.2.js"></script>
<script src="../../asset/js/grid/slick.core.js"></script>
<script src="../../asset/js/grid/slick.formatters.js"></script>
<script src="../../asset/js/grid/slick.grid.js"></script>
<script src="../../asset/js/grid/slick.dataview.js"></script>

<script>

var TaskNameFormatter = function (row, cell, value, columnDef, dataContext) {
  value = value.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
  var spacer = "<span style='display:inline-block;height:1px;width:" + (15 * dataContext["indent"]) + "px'></span>";
  var idx = dataView.getIdxById(dataContext.id);
  if (data[idx + 1] && data[idx + 1].indent > data[idx].indent) {
    if (dataContext._collapsed) {
      return spacer + " <span class='toggle expand'></span>&nbsp;" + value;
    } else {
      return spacer + " <span class='toggle collapse'></span>&nbsp;" + value;
    }
  } else {
    return spacer + " <span class='toggle'></span>&nbsp;" + value;
  }
};

var dataView;
var grid;
var data = [];

var columns = [
  {id: "name", name: "Name", field: "name", cssClass: "cell-title", formatter: TaskNameFormatter, width:500},
  {id: "type", name="Type", field: "type"},
  {id: "coverage", name: "Coverage", field: "coverage"},
  {id: "line", name: "Line", field: "line"},
  {id: "mline", name: "Missed Line", field: "mline"},
  {id: "branch", name: "Branch", field: "branch"},
  {id: "mbranch", name: "Missed Branch", field: "mbranch", width: 100}
];

var options = {};

var searchString = "";

function myFilter(item) {

  if (searchString != "" && item["name"].indexOf(searchString) == -1) {
    return false;
  }

  if (item.parent != null) {
    var parent = data[item.parent];

    while (parent) {
      if (parent._collapsed || (searchString != "" && parent["name"].indexOf(searchString) == -1)) {
        return false;
      }

      parent = data[parent.parent];
    }
  }

  return true;
}

$(function () {

  // prepare the data
   data[0] = {id: 'id_' + 1, indent:0, parent:null, name:"Util", coverage:80.0, line:10, mline:0, branch:3, mbranch:2};
   data[1] = {id: 'id_' + 2, indent:0, parent:null, name:"Unit", coverage:80.0, line:10, mline:0, branch:3, mbranch:2};
   data[2] = {id: 'id_' + 3, indent:1, parent:1, name:"org.kits.trax", coverage:80.0, line:10, mline:0, branch:3, mbranch:2};

   var url = 'http://localhost:8080/build/';
   var testResult = 0;
	$.ajax({
		dataType : "json",
		type : 'POST',
		async : false,
		url : url + selectedBuild + '/result/',
		success : function(responseObject) {
			alert(responseObject);			
		},
		error : function(e, ts, et) {
			alert('fail' + ts);
		}
	});
	
  // initialize the model
  dataView = new Slick.Data.DataView({ inlineFilters: true });
  dataView.beginUpdate();
  dataView.setItems(data);
  dataView.setFilter(myFilter);
  dataView.endUpdate();


  // initialize the grid
  grid = new Slick.Grid("#myGrid", dataView, columns, options);

  grid.onClick.subscribe(function (e, args) {
    if ($(e.target).hasClass("toggle")) {
      var item = dataView.getItem(args.row);
      if (item) {
        if (!item._collapsed) {
          item._collapsed = true;
        } else {
          item._collapsed = false;
        }

        dataView.updateItem(item.id, item);
      }
      e.stopImmediatePropagation();
    }
  });


  // wire up model events to drive the grid
  dataView.onRowCountChanged.subscribe(function (e, args) {
    grid.updateRowCount();
    grid.render();
  });

  dataView.onRowsChanged.subscribe(function (e, args) {
    grid.invalidateRows(args.rows);
    grid.render();
  });

  // wire up the search textbox to apply the filter to the model
  $("#txtSearch").keyup(function (e) {
    Slick.GlobalEditorLock.cancelCurrentEdit();

    // clear on Esc
    if (e.which == 27) {
      this.value = "";
    }

    searchString = this.value;
    dataView.refresh();
  })
})
</script>
</body>
</html>
