<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>trax</title>

    <link rel="stylesheet" href="../asset/css/style.css" type="text/css">
    <link rel="stylesheet" href="../asset/css/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="../asset/themes/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
</head>

<body>

<div class="row">
<div class="left">
    <div class="field">
        <label for="app">Application</label>
        <select id="app"></select>
    </div>
    <div class="field">
        <label for="build">Build</label>
        <select id="build"></select>
    </div>
</div>

<div class="right">
    <div class="field">
        <label>Search Type</label>
        <input type="radio" name="searchType" value="class" checked="true">Class
        <input type="radio" name="searchType" value="method">Method
        <input type="radio" name="searchType" value="coverage">Coverage
    </div>
    <div class="field">
        <label for="search">Search</label>
        <input type=text id="search">
    </div>
</div>
</div>

<br>

<div id="grid"></div>

<script src="../asset/js/jquery-1.7.min.js"></script>
<script src="../asset/js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="../asset/js/jquery.event.drag-2.2.js"></script>
<script src="../asset/js/slick.core.js"></script>
<script src="../asset/js/slick.formatters.js"></script>
<script src="../asset/js/slick.grid.js"></script>
<script src="../asset/js/slick.dataview.js"></script>
<script src="../asset/js/coverage.js"></script>

</body>
</html>
